*,
::after,
::before {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0rem;
  vertical-align: middle;
  box-sizing: border-box;
}
body {
  background-color: #fbfbfb;
}
h1 {
  font-size: 2rem;
  font-weight: 300;
}
h2 {
  font-size: 1.8rem;
  font-weight: 400;
}
h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
p {
  margin-bottom: 15px;
}
p:last-child {
  margin-bottom: 0;
}
mark {
  padding: 5px 10px;
  background-color: #eee;
}
ul {
  list-style: none;
}
img {
  float: left;
  border: none;
  width: 100%;
  max-width: 100%;
}
small {
  font-size: 0.75rem;
  color: #555;
}
a {
  text-decoration: none;
}
a img {
  border: 0;
}
/*BACKGROUND*/
.bg-body {
  background-color: #fbfbfb;
  color: #333;
}
.bg-gray {
  background-color: #444444;
  color: #fff;
}
.bg-light {
  background-color: #e6e4d9;
  color: #444;
}
.bg-blue {
  background-color: #34495e;
  color: #fff;
}
.bg-bluelight {
  background-color: #ccd8d1;
  color: #444;
}
.bg-orange {
  background-color: #e16f4d;
  color: #fff;
}

/*FONT WEIGHT*/
.font100 {
  font-weight: 100 !important;
}
.font300 {
  font-weight: 300 !important;
}
.font400 {
  font-weight: 400 !important;
}
.font500 {
  font-weight: 500 !important;
}
.font700 {
  font-weight: 700 !important;
}

/*FONT SIZE*/
.fontzero {
  font-size: 0rem !important;
}
.fontsize1 {
  font-size: 1rem;
}
.fontsize1b {
  font-size: 1.5rem;
}
.fontsize2 {
  font-size: 2rem;
}
.fontsize2b {
  font-size: 2.5rem;
}
.fontsize3 {
  font-size: 3rem;
}
.fontsize3b {
  font-size: 3.5rem;
}

/* CONTAINER  */
.container {
  float: left;
  width: 100%;
}
.content {
  width: 80%;
  margin: 0 10%;
  padding: 40px 0;
}

/* HELPERS  */
.clear {
  clear: both;
}
