*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}
.container {
  float: left;
  width: 100%;
}
.content {
  width: 80%;
  margin: 0 10%;
  padding: 40px 0;
}

.bg-gray {
  background-color: #444;
  color: #fff;
}
.bg-light {
  background-color: #eee;
  color: #4333;
}

.clear {
  clear: both;
}

.fontzero {
  font-size: 0rem;
}
